// Bootstrap variable overrides
@import '../../scss/variable-overrides';

// Bootstrap variables and mixins
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// *** TextArea *** //

// Custom variables
$zm-text-area-font-size: 0.75rem; // 12px
$zm-text-area-padding-x: 0.875rem; // 14px
$zm-text-area-padding-y: 0.563rem; // 9px

code textarea.form-control,
code textarea.form-control[readonly] {
  background-color: $dark;
  color: $gray-300;
  font-size: $zm-text-area-font-size;
  padding: $zm-text-area-padding-y $zm-text-area-padding-x;
}

// 7 lines
textarea.zm-text-area-high {
  height: 7 * $zm-text-area-font-size * $input-line-height + $zm-text-area-padding-y * 2;
}

// 6 lines
@include media-breakpoint-up(md) {
  textarea.zm-text-area-high {
    height: 6 * $zm-text-area-font-size * $input-line-height + $zm-text-area-padding-y * 2;
  }
}

// 4 lines
@include media-breakpoint-up(lg) {
  textarea.zm-text-area-high {
    height: 4 * $zm-text-area-font-size * $input-line-height + $zm-text-area-padding-y * 2;
  }
}

// 2 lines
textarea.zm-text-area-low {
  height: 2 * $zm-text-area-font-size * $input-line-height + $zm-text-area-padding-y * 2;
}
