// Bootstrap
@import '../../scss/variable-overrides';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

// Info popover
.zm-info-trigger {
  display: block;
  color: $gray-550;
}

.zm-info-trigger:hover {
  color: $gray-600;
}
