// *** Header *** //

// Navs

.nav-link {
  font-size: 1rem;
  font-weight: 700;
}

// Navbar

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-weight: 700;
  font-family: 'Montserrat';
}
