// Alerts

.alert {
    font-size: 0.813rem; // 13px
}

.alert svg {
    margin-top: 0.313rem; // 5px
    margin-right: 0.75rem; // 12px
}

// Automatic time-delayed dismiss (no accessibility impairment)
.close:focus {
    outline: none;
}
