// Import PrimeReact styles

// @import '~primereact/resources/themes/nova-light/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';

// Table

.p-datatable {
  font-size: 0.688rem; //11px

  .p-datatable-tbody > tr > td {
    padding-top: 0.15em;
    padding-bottom: 0.15em;
  }

  // Hide coordinate column
  .coordinates {
    display: none;
  }

  // Icons
  .pi {
    font-size: 0.5rem; // 8px
    margin-left: 0.125rem;
    opacity: 0.5;
  }
}
