// Bootstrap: Post-load overrides
// Here is what could not be themed using Bootstrap variables


// HTML elements

strong {
    font-family: $headings-font-family;
    color: $black;
}


// Typography


h1 {
    margin-top: 3.5rem; // 56px
    margin-bottom: 1.5rem; // 24px
}

h1 small {
    font-size: 70%;
}


// Cards

.card-header {
    font-family: $headings-font-family;
    font-size: 1rem; // 16px
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}

.card-body {
    padding: $card-spacer-x;
}

.card-link {
    font-size: 0.75rem; // 12px
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.card-link .fa-xs {
    margin-bottom: 0.063rem ;// 1px
    margin-left: 0.313rem; // 5px
}

.card-link:not([href]),
.card-link:not([href]):hover {
    color: $nav-link-disabled-color;
    cursor: default;
}


// TEMP //

iframe,
.temp-border {
    border: 1px solid $gray-200;
}


// STASH

// Buttons

// $btn-padding-y: 9px;
// $btn-font-size: 12px;

// $btn-padding-y-sm: 6px;
// $btn-font-size-sm: 10px;

// $btn-font-weight: 600;

// .btn,
// .card-link {
//     text-transform: uppercase;
//     letter-spacing: 0.1em;
// }

// .btn .fa-sm {
//     margin-right: 6px;
// }
